.details-box p {
    margin: 1.5em;
}

.member {
    font-size: 1.5em;
    margin: 0.25em;
    margin-left: 1em;
    list-style-type: none;
    display: block;
}

.titlebar {
    display: block;
    font-size: 2em;
    padding: 0.25em;
    padding-left: 0.75em;
    color: whitesmoke;
}

.spanner {
    display: block;
    padding: 0.25em;
    padding-left: 1.5em;
    background-color: antiquewhite;
    font-weight: 600;
}
.details-box {
    display: block;
    width: 80%;
    margin: 1em;
    border: 3px solid antiquewhite;
    text-decoration: none;
    color: black;
    background-color: #00b3ee;
    border-radius: 3px;
    position: absolute;
    left:9%;
}

.team-box:hover {
    border: 3px solid black;
    text-decoration: none;
    color: black;
}

.spanner {
    display: block;
    padding: 0.25em;
    background-color: antiquewhite;
}

.title {
    font-size: 1.5em;
    display: block;
    padding: 0.25em;
    padding-left: 1.5em;
    font-weight: 600;
}

p#content {
    color: whitesmoke;
}

ul#comments {
    color: whitesmoke;
}