.infobox {
    position: fixed;
    right: 2em;
    top: 2em;
    padding: 1em 5em 1em 5em;
    font-size: 1.2em;
}

.infobox:hover {
    background-color: #2aabd2;
}
#infobox {
    background-color: #0b0a57;
    position: fixed;
    top: 5%;
    left: 41%;
    right: 42%;
}